In [ ]:
import requests
import pandas as pd
from sqlalchemy import create_engine

# --------------------
# Param√®tres API SIRENE
# --------------------
api_url = "https://api.insee.fr/api-sirene/3.11/siret"  
api_key = "2c6da094-b893-415a-ada0-94b893115aea"      

headers = {
    "X-INSEE-Api-Key-Integration": api_key
}

params = {
    "q": "codePostalEtablissement:13100",
    "nombre": 10
}

response = requests.get(api_url, headers=headers, params=params)


if response.status_code != 200:
    print("Erreur API :", response.status_code, response.text)
    data = {"etablissements": []}
else:
    data = response.json()
    print("Nombre d'entreprises r√©cup√©r√©es :", len(data.get('etablissements', [])))

df = pd.json_normalize(data.get('etablissements', []), sep='.')

print("Colonnes dans le DataFrame :", df.columns)

colonnes_a_garder = [
    'siren',
    'uniteLegale.denominationUniteLegale',
    'uniteLegale.activitePrincipaleUniteLegale',
    'uniteLegale.categorieEntreprise.libelle',
    'uniteLegale.dateCreationUniteLegale',
    'uniteLegale.formeJuridiqueUniteLegale',
    'uniteLegale.trancheEffectifsUniteLegale',
    'adresseEtablissement.adresseLigne1',
    'adresseEtablissement.codePostal',
    'adresseEtablissement.libelleCommune',
    'adresseEtablissement.region'
]


# Renommer les colonnes pour correspondre √† ta table SQL
colonnes_a_garder.columns = [
    'siren', 'denomination', 'naf_code', 'secteur_libelle',
    'date_creation', 'forme_juridique', 'effectif',
    'adresse', 'code_postal', 'ville', 'region'
][:len(df_sql.columns)]

Nombre d'entreprises r√©cup√©r√©es : 10
Colonnes dans le DataFrame : Index(['siren', 'nic', 'siret', 'statutDiffusionEtablissement',
       'dateCreationEtablissement', 'trancheEffectifsEtablissement',
       'anneeEffectifsEtablissement',
       'activitePrincipaleRegistreMetiersEtablissement',
       'dateDernierTraitementEtablissement', 'etablissementSiege',
       'nombrePeriodesEtablissement', 'periodesEtablissement',
       'uniteLegale.etatAdministratifUniteLegale',
       'uniteLegale.statutDiffusionUniteLegale',
       'uniteLegale.dateCreationUniteLegale',
       'uniteLegale.categorieJuridiqueUniteLegale',
       'uniteLegale.denominationUniteLegale', 'uniteLegale.sigleUniteLegale',
       'uniteLegale.denominationUsuelle1UniteLegale',
       'uniteLegale.denominationUsuelle2UniteLegale',
       'uniteLegale.denominationUsuelle3UniteLegale',
       'uniteLegale.sexeUniteLegale', 'uniteLegale.nomUniteLegale',
       'uniteLegale.nomUsageUniteLegale', 'uniteLegale.prenom1UniteLegale',
       'uniteLegale.prenom2UniteLegale', 'uniteLegale.prenom3UniteLegale',
       'uniteLegale.prenom4UniteLegale', 'uniteLegale.prenomUsuelUniteLegale',
       'uniteLegale.pseudonymeUniteLegale',
       'uniteLegale.activitePrincipaleUniteLegale',
       'uniteLegale.nomenclatureActivitePrincipaleUniteLegale',
       'uniteLegale.identifiantAssociationUniteLegale',
       'uniteLegale.economieSocialeSolidaireUniteLegale',
       'uniteLegale.societeMissionUniteLegale',
       'uniteLegale.caractereEmployeurUniteLegale',
       'uniteLegale.trancheEffectifsUniteLegale',
       'uniteLegale.anneeEffectifsUniteLegale',
       'uniteLegale.nicSiegeUniteLegale',
       'uniteLegale.dateDernierTraitementUniteLegale',
       'uniteLegale.categorieEntreprise',
       'uniteLegale.anneeCategorieEntreprise',
       'adresseEtablissement.complementAdresseEtablissement',
       'adresseEtablissement.numeroVoieEtablissement',
       'adresseEtablissement.indiceRepetitionEtablissement',
       'adresseEtablissement.dernierNumeroVoieEtablissement',
       'adresseEtablissement.indiceRepetitionDernierNumeroVoieEtablissement',
       'adresseEtablissement.typeVoieEtablissement',
       'adresseEtablissement.libelleVoieEtablissement',
       'adresseEtablissement.codePostalEtablissement',
       'adresseEtablissement.libelleCommuneEtablissement',
       'adresseEtablissement.libelleCommuneEtrangerEtablissement',
       'adresseEtablissement.distributionSpecialeEtablissement',
       'adresseEtablissement.codeCommuneEtablissement',
       'adresseEtablissement.codeCedexEtablissement',
       'adresseEtablissement.libelleCedexEtablissement',
       'adresseEtablissement.codePaysEtrangerEtablissement',
       'adresseEtablissement.libellePaysEtrangerEtablissement',
       'adresseEtablissement.identifiantAdresseEtablissement',
       'adresseEtablissement.coordonneeLambertAbscisseEtablissement',
       'adresseEtablissement.coordonneeLambertOrdonneeEtablissement',
       'adresse2Etablissement.complementAdresse2Etablissement',
       'adresse2Etablissement.numeroVoie2Etablissement',
       'adresse2Etablissement.indiceRepetition2Etablissement',
       'adresse2Etablissement.typeVoie2Etablissement',
       'adresse2Etablissement.libelleVoie2Etablissement',
       'adresse2Etablissement.codePostal2Etablissement',
       'adresse2Etablissement.libelleCommune2Etablissement',
       'adresse2Etablissement.libelleCommuneEtranger2Etablissement',
       'adresse2Etablissement.distributionSpeciale2Etablissement',
       'adresse2Etablissement.codeCommune2Etablissement',
       'adresse2Etablissement.codeCedex2Etablissement',
       'adresse2Etablissement.libelleCedex2Etablissement',
       'adresse2Etablissement.codePaysEtranger2Etablissement',
       'adresse2Etablissement.libellePaysEtranger2Etablissement'],
      dtype='object')

AttributeError: 'list' object has no attribute 'columns'

In [17]:
import requests
import pandas as pd
from sqlalchemy import create_engine

# --------------------
# Param√®tres API SIRENE
# --------------------
api_url = "https://api.insee.fr/api-sirene/3.11/siret"
api_key = "2c6da094-b893-415a-ada0-94b893115aea"

headers = {
    "X-INSEE-Api-Key-Integration": api_key
}

# ‚ö° Ici on filtre sur Aix-en-Provence (code postal = 13100)
params = {
    "q": "codePostalEtablissement:13100",
    "nombre": 1000,   # max par page
    "debut": 0        # offset
}

all_results = []

while True:
    response = requests.get(api_url, headers=headers, params=params)
    
    if response.status_code != 200:
        print("Erreur API :", response.status_code, response.text)
        break
    
    data = response.json()
    etablissements = data.get("etablissements", [])
    
    if not etablissements:  # stop si plus de r√©sultats
        break
    
    all_results.extend(etablissements)
    
    print(f"‚úÖ Page avec {len(etablissements)} entreprises r√©cup√©r√©e (total = {len(all_results)})")
    
    # Passer √† la page suivante
    params["debut"] += params["nombre"]

# --------------------
# Transformation en DataFrame
# --------------------
df = pd.json_normalize(all_results, sep=".")

colonnes_a_garder = [
    'siren',
    'uniteLegale.denominationUniteLegale',
    'uniteLegale.activitePrincipaleUniteLegale',
    'uniteLegale.categorieEntreprise.libelle',
    'uniteLegale.dateCreationUniteLegale',
    'uniteLegale.formeJuridiqueUniteLegale',
    'uniteLegale.trancheEffectifsUniteLegale',
    'adresseEtablissement.adresseLigne1',
    'adresseEtablissement.codePostal',
    'adresseEtablissement.libelleCommune',
    'adresseEtablissement.region'
]

df_sql = df[colonnes_a_garder].copy()

df_sql.columns = [
    'siren', 'denomination', 'naf_code', 'secteur_libelle',
    'date_creation', 'forme_juridique', 'effectif',
    'adresse', 'code_postal', 'ville', 'region'
]

print(f"üìä Total entreprises Aix r√©cup√©r√©es : {len(df_sql)}")
print(df_sql.head())

‚úÖ Page avec 1000 entreprises r√©cup√©r√©e (total = 1000)
‚úÖ Page avec 1000 entreprises r√©cup√©r√©e (total = 2000)
‚úÖ Page avec 1000 entreprises r√©cup√©r√©e (total = 3000)
‚úÖ Page avec 1000 entreprises r√©cup√©r√©e (total = 4000)
‚úÖ Page avec 1000 entreprises r√©cup√©r√©e (total = 5000)
‚úÖ Page avec 1000 entreprises r√©cup√©r√©e (total = 6000)
‚úÖ Page avec 1000 entreprises r√©cup√©r√©e (total = 7000)
‚úÖ Page avec 1000 entreprises r√©cup√©r√©e (total = 8000)
‚úÖ Page avec 1000 entreprises r√©cup√©r√©e (total = 9000)
‚úÖ Page avec 1000 entreprises r√©cup√©r√©e (total = 10000)
‚úÖ Page avec 1000 entreprises r√©cup√©r√©e (total = 11000)
Erreur API : 400 {"header":{"statut":400,"message":"valeur maximale pour le param√®tre debut: 10000. R√©cup√©rez les fichiers exhaustifs sur https:\\www.data.gouv.fr ou utilisez la fonctionnalit√© curseur."}}

KeyError: "['uniteLegale.categorieEntreprise.libelle', 'uniteLegale.formeJuridiqueUniteLegale', 'adresseEtablissement.adresseLigne1', 'adresseEtablissement.codePostal', 'adresseEtablissement.libelleCommune', 'adresseEtablissement.region'] not in index"

In [37]:
import requests
import pandas as pd
from sqlalchemy import create_engine

# --------------------
# Param√®tres API SIRENE
# --------------------
api_url = "https://api.insee.fr/api-sirene/3.11/siret"
api_key = "2c6da094-b893-415a-ada0-94b893115aea"  # 

headers = {
    "X-INSEE-Api-Key-Integration": api_key
}

# --------------------
# Liste des codes postaux d‚ÄôAix
# --------------------
codes_postaux = ["13100", "13290", "13540","13090","13080"]

all_results = []

# --------------------
# Boucle sur les codes postaux
# --------------------
for cp in codes_postaux:
    print(f" R√©cup√©ration des entreprises pour CP {cp}...")

    params = {
        "q": f"codePostalEtablissement:{cp}",
        "nombre": 1000
    }

    cursor = None

    while True:
        if cursor:
            params["curseur"] = cursor

        response = requests.get(api_url, headers=headers, params=params)

        if response.status_code != 200:
            print("Erreur API :", response.status_code, response.text)
            break

        data = response.json()
        etablissements = data.get("etablissements", [])
        all_results.extend(etablissements)

        print(f"Page r√©cup√©r√©e pour {cp}, total cumul√© = {len(all_results)}")

        # R√©cup√©ration du curseur suivant
        cursor = data.get("header", {}).get("curseurSuivant")
        if not cursor:
            break

# --------------------
# Conversion en DataFrame
# --------------------
df = pd.json_normalize(all_results, sep='.')

colonnes_a_garder = {
    'siren': 'siren',
    'uniteLegale.denominationUniteLegale': 'denomination',
    'uniteLegale.activitePrincipaleUniteLegale': 'naf_code',
    'uniteLegale.dateCreationUniteLegale': 'date_creation',
    'uniteLegale.trancheEffectifsUniteLegale': 'effectif',
    'adresseEtablissement.libelleVoieEtablissement': 'adresse',  # Approximation pour adresseLigne1
    'adresseEtablissement.codePostalEtablissement': 'code_postal',
    'adresseEtablissement.libelleCommuneEtablissement': 'ville',
    # 'adresseEtablissement.region' n'est pas disponible, √† ignorer pour l'instant
}

colonnes_existantes = [c for c in colonnes_a_garder.keys() if c in df.columns]
df_sql = df[colonnes_existantes].rename(columns={c: colonnes_a_garder[c] for c in colonnes_existantes})


# Nettoyage date (format SQL : YYYY-MM-DD)
df_sql["date_creation"] = pd.to_datetime(df_sql["date_creation"], errors="coerce")
# ----------------------------
# Nettoyage de la colonne effectif
# ----------------------------
# Dictionnaire de correspondance (codes Sirene -> tranches salari√©s)
effectif_mapping = {
    "00": "0 salari√©",
    "01": "1-2",
    "02": "3-5",
    "03": "6-9",
    "11": "10-19",
    "12": "20-49",
    "21": "50-99",
    "22": "100-199",
    "31": "200-249",
    "32": "250-499",
    "41": "500-999",
    "42": "1000-1999",
    "51": "2000-4999",
    "52": "5000-9999",
    "53": "10000+",
    "NN": None   # non renseign√©
}

df_sql["effectif"] = df_sql["effectif"].map(effectif_mapping)
df_sql = df_sql.drop_duplicates(subset=["siren"])

# --------------------
# Connexion MySQL
# --------------------
engine = create_engine("mysql+mysqlconnector://root:chiaramasi@localhost/entreprises_db")

# Insertion
df_sql.to_sql("sirene", con=engine, if_exists="append", index=False)

print("Donn√©es pour Aix-en-Provence ins√©r√©es en base avec succ√®s !")

 R√©cup√©ration des entreprises pour CP 13100...
Page r√©cup√©r√©e pour 13100, total cumul√© = 1000
 R√©cup√©ration des entreprises pour CP 13290...
Page r√©cup√©r√©e pour 13290, total cumul√© = 2000
 R√©cup√©ration des entreprises pour CP 13540...
Page r√©cup√©r√©e pour 13540, total cumul√© = 3000
 R√©cup√©ration des entreprises pour CP 13090...
Page r√©cup√©r√©e pour 13090, total cumul√© = 4000
 R√©cup√©ration des entreprises pour CP 13080...
Page r√©cup√©r√©e pour 13080, total cumul√© = 5000

IntegrityError: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '341685618' for key 'PRIMARY'
[SQL: INSERT INTO sirene (siren, denomination, naf_code, date_creation, effectif, adresse, code_postal, ville) VALUES (%(siren)s, %(denomination)s, %(naf_code)s, %(date_creation)s, %(effectif)s, %(adresse)s, %(code_postal)s, %(ville)s)]
[parameters: [{'siren': '221300015', 'denomination': 'DEPARTEMENT DES BOUCHES DU RHONE', 'naf_code': '84.11Z', 'date_creation': datetime.datetime(1968, 9, 1, 0, 0), 'effectif': '5000-9999', 'adresse': 'DE BEAUREGARD', 'code_postal': '13100', 'ville': 'AIX-EN-PROVENCE'}, {'siren': '251301099', 'denomination': "AGENCE REGIONALE DE LA BIODIVERSITE ET DE L'ENVIRONNEMENT PROVENCE-ALPES-COTE-D'AZUR", 'naf_code': '84.11Z', 'date_creation': datetime.datetime(1987, 10, 1, 0, 0), 'effectif': '20-49', 'adresse': 'LEON FOUCAULT', 'code_postal': '13100', 'ville': 'AIX-EN-PROVENCE'}, {'siren': '171301112', 'denomination': "COUR D'APPEL D'AIX EN PROVENCE", 'naf_code': '84.23Z', 'date_creation': datetime.datetime(1981, 6, 23, 0, 0), 'effectif': '2000-4999', 'adresse': 'GAUFFREDY', 'code_postal': '13100', 'ville': 'AIX-EN-PROVENCE'}, {'siren': '171301310', 'denomination': 'DIRECTION TERRITORIALE PROTECTION JUDICIAIRE JEUNESSE BOUCHES DU RHONE', 'naf_code': '84.23Z', 'date_creation': datetime.datetime(1981, 6, 21, 0, 0), 'effectif': '250-499', 'adresse': 'CARNOT', 'code_postal': '13100', 'ville': 'AIX-EN-PROVENCE'}, {'siren': '171304603', 'denomination': "DIRECTION REGIONALE AFFAIRES CULTURELLES PROVENCE-ALPES-COTE D'AZUR", 'naf_code': '84.12Z', 'date_creation': datetime.datetime(1981, 6, 23, 0, 0), 'effectif': '100-199', 'adresse': 'DU ROI RENE', 'code_postal': '13100', 'ville': 'AIX-EN-PROVENCE'}, {'siren': '180089013', 'denomination': 'CENTRE NATIONAL DE LA RECHERCHE SCIENTIFIQUE', 'naf_code': '72.19Z', 'date_creation': datetime.datetime(1965, 2, 17, 0, 0), 'effectif': '10000+', 'adresse': 'JULES FERRY', 'code_postal': '13100', 'ville': 'AIX-EN-PROVENCE'}, {'siren': '187512769', 'denomination': 'FORMAT SANTE ANIMALE AUXIL VETERINAIRE', 'naf_code': '84.13Z', 'date_creation': datetime.datetime(2005, 4, 21, 0, 0), 'effectif': None, 'adresse': 'DE LA REPUBLIQUE', 'code_postal': '13100', 'ville': 'AIX-EN-PROVENCE'}, {'siren': '197534720', 'denomination': "ECOLE NATIONALE SUPERIEURE D'ARTS ET METIERS (ENSAM)", 'naf_code': '85.42Z', 'date_creation': datetime.datetime(1966, 8, 1, 0, 0), 'effectif': '1000-1999', 'adresse': 'DES ARTS ET METIERS', 'code_postal': '13100', 'ville': 'AIX-EN-PROVENCE'}  ... displaying 10 of 4845 total bound parameter sets ...  {'siren': '409126190', 'denomination': 'FERBECK ET FUMITHERM', 'naf_code': '43.99D', 'date_creation': datetime.datetime(1996, 9, 16, 0, 0), 'effectif': None, 'adresse': 'LOUIS ARMAND', 'code_postal': '13080', 'ville': 'AIX-EN-PROVENCE'}, {'siren': '409149622', 'denomination': None, 'naf_code': '74.2C', 'date_creation': datetime.datetime(1996, 10, 1, 0, 0), 'effectif': None, 'adresse': 'CHAMPSAUR', 'code_postal': '13080', 'ville': 'AIX EN PROVENCE'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [39]:
import requests
import pandas as pd
from sqlalchemy import create_engine

# --------------------
# Param√®tres API SIRENE
# --------------------
api_url = "https://api.insee.fr/api-sirene/3.11/siret"
api_key = "2c6da094-b893-415a-ada0-94b893115aea"

headers = {
    "X-INSEE-Api-Key-Integration": api_key
}

# --------------------
# Liste des codes postaux d‚ÄôAix
# --------------------
codes_postaux = ["13100", "13290", "13540","13090","13080"]

all_results = []

# --------------------
# Boucle sur les codes postaux
# --------------------
for cp in codes_postaux:
    print(f"R√©cup√©ration des entreprises pour CP {cp}...")
    params = {
        "q": f"codePostalEtablissement:{cp}",
        "nombre": 1000
    }

    cursor = None
    while True:
        if cursor:
            params["curseur"] = cursor

        response = requests.get(api_url, headers=headers, params=params)

        if response.status_code != 200:
            print("Erreur API :", response.status_code, response.text)
            break

        data = response.json()
        etablissements = data.get("etablissements", [])
        all_results.extend(etablissements)

        print(f"Page r√©cup√©r√©e pour {cp}, total cumul√© = {len(all_results)}")

        # R√©cup√©ration du curseur suivant
        cursor = data.get("header", {}).get("curseurSuivant")
        if not cursor:
            break

# --------------------
# Conversion en DataFrame
# --------------------
df = pd.json_normalize(all_results, sep='.')

# --------------------
# S√©lection des colonnes
# --------------------
colonnes_a_garder = {
    'siret': 'siret',
    'siren': 'siren',
    'uniteLegale.denominationUniteLegale': 'denomination',
    'uniteLegale.activitePrincipaleUniteLegale': 'naf_code',
    'uniteLegale.dateCreationUniteLegale': 'date_creation',
    'uniteLegale.trancheEffectifsUniteLegale': 'effectif',
    'adresseEtablissement.libelleVoieEtablissement': 'adresse',
    'adresseEtablissement.codePostalEtablissement': 'code_postal',
    'adresseEtablissement.libelleCommuneEtablissement': 'ville'
}

colonnes_existantes = [c for c in colonnes_a_garder.keys() if c in df.columns]
df_sql = df[colonnes_existantes].rename(columns={c: colonnes_a_garder[c] for c in colonnes_existantes})

# --------------------
# Nettoyage date
# --------------------
df_sql["date_creation"] = pd.to_datetime(df_sql["date_creation"], errors="coerce")

# --------------------
# Nettoyage de la colonne effectif
# --------------------
effectif_mapping = {
    "00": "0 salari√©",
    "01": "1-2",
    "02": "3-5",
    "03": "6-9",
    "11": "10-19",
    "12": "20-49",
    "21": "50-99",
    "22": "100-199",
    "31": "200-249",
    "32": "250-499",
    "41": "500-999",
    "42": "1000-1999",
    "51": "2000-4999",
    "52": "5000-9999",
    "53": "10000+",
    "NN": None
}

df_sql["effectif"] = df_sql["effectif"].map(effectif_mapping)

# --------------------
# Supprimer les doublons sur le SIRET
# --------------------
df_sql = df_sql.drop_duplicates(subset=["siret"])

# --------------------
# Connexion MySQL
# --------------------
engine = create_engine("mysql+mysqlconnector://root:chiaramasi@localhost/entreprises_db")

# --------------------
# Insertion en base
# --------------------
# IMPORTANT : S'assurer que la table MySQL a 'siret' comme PRIMARY KEY
df_sql.to_sql("sirene", con=engine, if_exists="append", index=False)

print("Donn√©es pour Aix-en-Provence ins√©r√©es en base avec succ√®s !")

R√©cup√©ration des entreprises pour CP 13100...
Page r√©cup√©r√©e pour 13100, total cumul√© = 1000
R√©cup√©ration des entreprises pour CP 13290...
Page r√©cup√©r√©e pour 13290, total cumul√© = 2000
R√©cup√©ration des entreprises pour CP 13540...
Page r√©cup√©r√©e pour 13540, total cumul√© = 3000
R√©cup√©ration des entreprises pour CP 13090...
Page r√©cup√©r√©e pour 13090, total cumul√© = 4000
R√©cup√©ration des entreprises pour CP 13080...
Page r√©cup√©r√©e pour 13080, total cumul√© = 5000
Donn√©es pour Aix-en-Provence ins√©r√©es en base avec succ√®s !

In [40]:
pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.1.1-py3-none-any.whl.metadata (24 kB)
Downloading python_dotenv-1.1.1-py3-none-any.whl (20 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [30]:
df_sql.head()

,siren,denomination,naf_code,date_creation,effectif,adresse,code_postal,ville
0,171301112,COUR D'APPEL D'AIX EN PROVENCE,84.23Z,1981-06-23,2000-4999,GAUFFREDY,13100,AIX-EN-PROVENCE
2,171301310,DIRECTION TERRITORIALE PROTECTION JUDICIAIRE J...,84.23Z,1981-06-21,250-499,CARNOT,13100,AIX-EN-PROVENCE
3,180089013,CENTRE NATIONAL DE LA RECHERCHE SCIENTIFIQUE,72.19Z,1965-02-17,10000+,JULES FERRY,13100,AIX-EN-PROVENCE
4,187512769,FORMAT SANTE ANIMALE AUXIL VETERINAIRE,84.13Z,2005-04-21,NaN,DE LA REPUBLIQUE,13100,AIX-EN-PROVENCE
5,197534720,ECOLE NATIONALE SUPERIEURE D'ARTS ET METIERS (...,85.42Z,1966-08-01,1000-1999,DES ARTS ET METIERS,13100,AIX-EN-PROVENCE

In [13]:
df_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   siren            10 non-null     object
 1   denomination     10 non-null     object
 2   naf_code         10 non-null     object
 3   secteur_libelle  10 non-null     object
 4   date_creation    0 non-null      object
dtypes: object(5)
memory usage: 532.0+ bytes

In [16]:
import requests
import pandas as pd
from sqlalchemy import create_engine  # Si tu veux sauvegarder en SQL

# --------------------
# Param√®tres API SIRENE
# --------------------
api_url = "https://api.insee.fr/api-sirene/3.11/siret"  
api_key = "2c6da094-b893-415a-ada0-94b893115aea"  # Remplace par ta cl√© personnelle !

headers = {
    "X-INSEE-Api-Key-Integration": api_key
}

# Liste des villes √† rechercher
villes = ["Aix-en-Provence", "Marseille"]

# Colonnes √† garder (comme dans ton code)
colonnes_a_garder = [
    'siren',
    'uniteLegale.denominationUniteLegale',
    'uniteLegale.activitePrincipaleUniteLegale',
    'uniteLegale.categorieEntreprise.libelle',
    'uniteLegale.dateCreationUniteLegale',
    'uniteLegale.formeJuridiqueUniteLegale',
    'uniteLegale.trancheEffectifsUniteLegale',
    'adresseEtablissement.adresseLigne1',
    'adresseEtablissement.codePostal',
    'adresseEtablissement.libelleCommune',
    'adresseEtablissement.region'
]

# Noms de colonnes pour renommage (comme dans ton code)
noms_renommes = [
    'siren', 'denomination', 'naf_code', 'secteur_libelle',
    'date_creation', 'forme_juridique', 'effectif',
    'adresse', 'code_postal', 'ville', 'region'
]

# DataFrames temporaires et final
dfs = []
total_recuperes = 0

for ville in villes:
    params = {
        "q": f"communeEtablissement:{ville}",
        "nombre": 100  # Augmente pour plus de r√©sultats par ville
    }
    
    print(f"\n--- Recherche pour {ville} ---")
    response = requests.get(api_url, headers=headers, params=params)
    
    if response.status_code != 200:
        print(f"Erreur API pour {ville} :", response.status_code, response.text)
        continue
    
    data = response.json()
    etablissements = data.get('etablissements', [])
    print(f"Nombre d'√©tablissements r√©cup√©r√©s pour {ville} :", len(etablissements))
    
    if etablissements:
        df = pd.json_normalize(etablissements, sep='.')
        print("Colonnes dans le DataFrame :", df.columns.tolist())
        
        # Garder seulement les colonnes existantes
        colonnes_existantes = [c for c in colonnes_a_garder if c in df.columns]
        df_ville = df[colonnes_existantes].copy()
        
        # Renommer (tronque si n√©cessaire)
        nb_col = len(df_ville.columns)
        df_ville.columns = noms_renommes[:nb_col]
        
        # Ajouter une colonne 'ville_recherche' pour tracer l'origine
        df_ville['ville_recherche'] = ville
        
        dfs.append(df_ville)
        total_recuperes += len(etablissements)

# Concat√©ner tous les DataFrames
if dfs:
    df_final = pd.concat(dfs, ignore_index=True)
    print(f"\n--- R√âSULTATS GLOBAUX ---")
    print(f"Nombre total d'√©tablissements r√©cup√©r√©s : {len(df_final)}")
    print(f"Colonnes finales : {df_final.columns.tolist()}")
    print("\nAper√ßu des donn√©es :")
    print(df_final.head())
    
    # Exemple : Sauvegarde en CSV (optionnel)
    # df_final.to_csv('etablissements_aix_marseille.csv', index=False)
    
    # Si tu veux en SQL (adapte l'URL de connexion)
    # engine = create_engine('sqlite:///ma_base.db')  # ou postgresql://user:pass@host/db
    # df_final.to_sql('etablissements', engine, if_exists='replace', index=False)
    
else:
    print("Aucun r√©sultat r√©cup√©r√©. V√©rifie ta cl√© API et les noms de villes.")

--- Recherche pour Aix-en-Provence ---
Erreur API pour Aix-en-Provence : 400 {"header":{"statut":400,"message":"Erreur de syntaxe dans le param√®tre q"}}

--- Recherche pour Marseille ---
Erreur API pour Marseille : 400 {"header":{"statut":400,"message":"Erreur de syntaxe dans le param√®tre q"}}
Aucun r√©sultat r√©cup√©r√©. V√©rifie ta cl√© API et les noms de villes.

In [10]:

from sqlalchemy import create_engine

user = "root"
password = "chiaramasi"
host = "localhost"
db = "entreprises_db"

engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{db}")

# --------------------
# Insertion dans MySQL
# --------------------
df_sql.to_sql("sirene", engine, if_exists="append", index=False)

print(" Donn√©es ins√©r√©es dans MySQL avec succ√®s !")

IntegrityError: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '171301112' for key 'PRIMARY'
[SQL: INSERT INTO sirene (siren, denomination, naf_code, secteur_libelle, date_creation) VALUES (%(siren)s, %(denomination)s, %(naf_code)s, %(secteur_libelle)s, %(date_creation)s)]
[parameters: [{'siren': '221300015', 'denomination': 'DEPARTEMENT DES BOUCHES DU RHONE', 'naf_code': '84.11Z', 'secteur_libelle': '1968-09-01', 'date_creation': None}, {'siren': '251301099', 'denomination': "AGENCE REGIONALE DE LA BIODIVERSITE ET DE L'ENVIRONNEMENT PROVENCE-ALPES-COTE-D'AZUR", 'naf_code': '84.11Z', 'secteur_libelle': '1987-10-01', 'date_creation': None}, {'siren': '171301112', 'denomination': "COUR D'APPEL D'AIX EN PROVENCE", 'naf_code': '84.23Z', 'secteur_libelle': '1981-06-23', 'date_creation': None}, {'siren': '171301112', 'denomination': "COUR D'APPEL D'AIX EN PROVENCE", 'naf_code': '84.23Z', 'secteur_libelle': '1981-06-23', 'date_creation': None}, {'siren': '171301310', 'denomination': 'DIRECTION TERRITORIALE PROTECTION JUDICIAIRE JEUNESSE BOUCHES DU RHONE', 'naf_code': '84.23Z', 'secteur_libelle': '1981-06-21', 'date_creation': None}, {'siren': '171304603', 'denomination': "DIRECTION REGIONALE AFFAIRES CULTURELLES PROVENCE-ALPES-COTE D'AZUR", 'naf_code': '84.12Z', 'secteur_libelle': '1981-06-23', 'date_creation': None}, {'siren': '171304603', 'denomination': "DIRECTION REGIONALE AFFAIRES CULTURELLES PROVENCE-ALPES-COTE D'AZUR", 'naf_code': '84.12Z', 'secteur_libelle': '1981-06-23', 'date_creation': None}, {'siren': '180089013', 'denomination': 'CENTRE NATIONAL DE LA RECHERCHE SCIENTIFIQUE', 'naf_code': '72.19Z', 'secteur_libelle': '1965-02-17', 'date_creation': None}, {'siren': '187512769', 'denomination': 'FORMAT SANTE ANIMALE AUXIL VETERINAIRE', 'naf_code': '84.13Z', 'secteur_libelle': '2005-04-21', 'date_creation': None}, {'siren': '197534720', 'denomination': "ECOLE NATIONALE SUPERIEURE D'ARTS ET METIERS (ENSAM)", 'naf_code': '85.42Z', 'secteur_libelle': '1966-08-01', 'date_creation': None}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [7]:
pip install mysql-connector-python sqlalchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp312-cp312-macosx_14_0_x86_64.whl.metadata (7.5 kB)
Requirement already satisfied: sqlalchemy in /Users/chiaramasi/miniconda3/envs/data/lib/python3.12/site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in /Users/chiaramasi/miniconda3/envs/data/lib/python3.12/site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/chiaramasi/miniconda3/envs/data/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)
Downloading mysql_connector_python-9.4.0-cp312-cp312-macosx_14_0_x86_64.whl (18.4 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 18.4/18.4 MB 10.8 MB/s eta 0:00:00a 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0
Note: you may need to restart the kernel to use updated packages.